# CityBikes

### Importing Packages

In [2]:
import requests
import os

In [3]:
import pandas as pd
import numpy as np
import json
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns

### Exploring the structure of the API and understanding the data returned from querying the API 

To do this, first I will pull data from the citybikes API and store the JSON file in a variable and use that to check if the response works.

In [4]:
url_one = 'http://api.citybik.es/v2/networks'
bike_request = requests.get(url_one)
bike_request

In [5]:
bike_request_json = bike_request.json()

This JSON file is a list of nested dictionaires consisting of the companies responsible for bike rentals.

Send a request to CityBikes for the city of your choice.

Now, I will loop through the JSON file to isolate the bike comapny for running the CityBikes program in Bhopal

In [6]:
bhopal_city_bike_companies = [] # create an empty list for city bike companies
for i in range(len(bike_request_json['networks'])): #a for loop to iterate through the json file
    if 'Bhopal' in bike_request_json['networks'][i]['location']['city']: #extracting the city for the company 
        bhopal_city_bike_companies.append(bike_request_json['networks'][i]['company']) #appending the company based in Bhopal to the list

In [7]:
bhopal_city_bike_companies

[['CHARTERED BIKE PRIVATE LIMITED']]

There is only one network company in Bhopal that administers this city bikes program. Now, I will use the network ID I acquired from the request above to pull station data.

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

Now to pull station data for this specific company in Bhopal, I will create a new API request with this particular network ID I have acquired as the endpoint. 

The netword id for Bhopal is 'chartered-bike-bhopal'

In [8]:
url_two = 'http://api.citybik.es/v2/networks/chartered-bike-bhopal'
station_request = requests.get(url_two)
station_request

In [9]:
stations = station_request.json()

In [10]:
#To access the details, we parse the JSON file
stations['network']['stations']

[{'empty_slots': 2,
  'extra': {'ebikes': 0, 'number': 9871, 'online': True, 'uid': 122},
  'free_bikes': 4,
  'id': 'b371ef2499d92f6f39aecd14aa834f73',
  'latitude': 23.222624,
  'longitude': 77.424051,
  'name': 'NANDAN KANAN PARK',
  'timestamp': '2024-04-17T00:16:33.608000Z'},
 {'empty_slots': 3,
  'extra': {'ebikes': 0, 'number': 9868, 'online': True, 'uid': 119},
  'free_bikes': 3,
  'id': '9ca6adc741b5a7e4e2914913ba967604',
  'latitude': 23.275564,
  'longitude': 77.454774,
  'name': 'FOUNTAIN PARK MINAAL',
  'timestamp': '2024-04-17T00:16:33.607000Z'},
 {'empty_slots': 1,
  'extra': {'ebikes': 0, 'number': 9880, 'online': True, 'uid': 131},
  'free_bikes': 5,
  'id': '154a47ad488f8c67ea69615613277002',
  'latitude': 23.230224,
  'longitude': 77.485648,
  'name': 'AVADHPURI TIRAHA',
  'timestamp': '2024-04-17T00:16:33.616000Z'},
 {'empty_slots': 5,
  'extra': {'ebikes': 0, 'number': 9866, 'online': True, 'uid': 117},
  'free_bikes': 3,
  'id': '36761a60c92613a6e5f7abc3e89e3b8c',
  'latitude': 23.167347,
  'longitude': 77.438082,
  'name': 'AKRITI BLUE SKY',
  'timestamp': '2024-04-17T00:16:33.609000Z'},
 {'empty_slots': 0,
  'extra': {'ebikes': 1, 'number': 9823, 'online': True, 'uid': 75},
  'free_bikes': 0,
  'id': 'e2a4ce935da75f9eb2d0730033ddc5bb',
  'latitude': 23.249605,
  'longitude': 77.395605,
  'name': 'VARDHMAAN PARK',
  'timestamp': '2024-04-17T00:16:33.612000Z'},
 {'empty_slots': 0,
  'extra': {'ebikes': 0, 'number': 9873, 'online': True, 'uid': 124},
  'free_bikes': 6,
  'id': '0dbfb7907fd0bb62822f16e53057697f',
  'latitude': 23.251645,
  'longitude': 77.456501,
  'name': 'J.K SQUARE ',
  'timestamp': '2024-04-17T00:16:33.625000Z'},
 {'empty_slots': 4,
  'extra': {'ebikes': 0, 'number': 9897, 'online': True, 'uid': 351},
  'free_bikes': 0,
  'id': '3471c5244ee7fe79b69c956189f52019',
  'latitude': 23.227577,
  'longitude': 77.401237,
  'name': 'BOULEVARD STREET 2',
  'timestamp': '2024-04-17T00:16:33.613000Z'},
 {'empty_slots': 0,
  'extra': {'ebikes': 0, 'number': 9879, 'online': True, 'uid': 130},
  'free_bikes': 6,
  'id': 'badd2d175a50a6e6470c8f3377a25221',
  'latitude': 23.231724,
  'longitude': 77.457836,
  'name': 'SMART CITY',
  'timestamp': '2024-04-17T00:16:33.626000Z'},
 {'empty_slots': 4,
  'extra': {'ebikes': 0, 'number': 9869, 'online': True, 'uid': 120},
  'free_bikes': 2,
  'id': 'ee59f14018c5931d18431ea0242666fc',
  'latitude': 23.268475,
  'longitude': 77.45751,
  'name': 'MINAAL SHOPPING MALL',
  'timestamp': '2024-04-17T00:16:33.605000Z'},
 {'empty_slots': 17,
  'extra': {'ebikes': 2, 'number': 9703, 'online': True, 'uid': 419},
  'free_bikes': 0,
  'id': 'cc3a164b4a08cac228675aaea6e49462',
  'latitude': 23.24165,
  'longitude': 77.37443,
  'name': 'Van Vihar gate no. 1 E-bike',
  'timestamp': '2024-04-17T00:16:33.644000Z'},
 {'empty_slots': 4,
  'extra': {'ebikes': 0, 'number': 9804, 'online': True, 'uid': 58},
  'free_bikes': 2,
  'id': '0eca236df5962b877730fac486a4b756',
  'latitude': 23.187359,
  'longitude': 77.452427,
  'name': 'HOSHANGABAAD ROAD 4',
  'timestamp': '2024-04-17T00:16:33.618000Z'},
 {'empty_slots': 2,
  'extra': {'ebikes': 0, 'number': 9857, 'online': True, 'uid': 108},
  'free_bikes': 4,
  'id': 'a9d6f5609b054c36e690acb0e2f46872',
  'latitude': 23.211058,
  'longitude': 77.454529,
  'name': 'SAKET NAGAR AIIMS ROAD 2',
  'timestamp': '2024-04-17T00:16:33.624000Z'},
 {'empty_slots': 4,
  'extra': {'ebikes': 0, 'number': 9847, 'online': True, 'uid': 99},
  'free_bikes': 6,
  'id': '532f8ef5431c093d67083eea6f1de05e',
  'latitude': 23.217862,
  'longitude': 77.369535,
  'name': 'VAN VIHAR (RAMU GATE)',
  'timestamp': '2024-04-17T00:16:33.620000Z'},
 {'empty_slots': 2,
  'extra': {'ebikes': 0, 'number': 9848, 'online': True, 'uid': 100},
  'free_bikes': 4,
  'id': '6e152240f34b587a06f83416834ce336',
  'latitude': 23.208461,
  'longitude': 77.427461,
  'name': 'RCVP NORONHA ACADEMY',
  'timestamp': '2024-04-17T00:16:33.610000Z'},
 {'empty_slots': 0,
  'extra': {'ebikes': 0, 'number': 9802, 'online': True, 'uid': 56},
  'free_bikes': 6,
  'id': '2c113ce0f1ef9d2829e91458945cfeb5',
  'latitude': 23.2007,
  'longitude': 77.447476,
  'name': 'HOSHANGABAAD ROAD 2',
  'timestamp': '2024-04-17T00:16:33.597000Z'},
 {'empty_slots': 3,
  'extra': {'ebikes': 0, 'number': 9818, 'online': True, 'uid': 70},
  'free_bikes': 3,
  'id': '5759c2998c6735949fb0198f29ab47c1',
  'latitude': 23.23295,
  'longitude': 77.401322,
  'name': 'KAMLA NEHRU GIRLS SCHOOL T.T. NAGAR',
  'timestamp': '2024-04-17T00:16:33.636000Z'},
 {'empty_slots': 4,
  'extra': {'ebikes': 0, 'number': 9881, 'online': True, 'uid': 132},
  'free_bikes': 2,
  'id': 'b8bebc0ae584bc8f79d072e235d98809',
  'latitude': 23.18573,
  'longitude': 77.453916,
  'name': 'DANISH SQUARE ',
  'timestamp': '2024-04-17T00:16:33.617000Z'},
 {'empty_slots': 19,
  'extra': {'ebikes': 1, 'number': 9704, 'online': True, 'uid': 420},
  'free_bikes': 0,
  'id': 'fd59f6628fd35c859f6aed6a7610b0c9',
  'latitude': 23.24428884650912,
  'longitude': 77.3871337835708,
  'name': 'Boat Club E-bike',
  'timestamp': '2024-04-17T00:16:33.635000Z'},
 {'empty_slots': 4,
  'extra': {'ebikes': 0, 'number': 9851, 'online': True, 'uid': 102},
  'free_bikes': 4,
  'id': '46aac9a62b762db21422368d4eb01577',
  'latitude': 23.233769,
  'longitude': 77.39904,
  'name': 'SMART PARKING T.T. NAGAR',
  'timestamp': '2024-04-17T00:16:33.628000Z'},
 {'empty_slots': 5,
  'extra': {'ebikes': -1, 'number': 9892, 'online': True, 'uid': 352},
  'free_bikes': 0,
  'id': 'e85ab58cdec77caa1d4a8ee085e9436f',
  'latitude': 23.227344,
  'longitude': 77.401239,
  'name': 'BOULEVARD STREET 1',
  'timestamp': '2024-04-17T00:16:33.634000Z'},
 {'empty_slots': 3,
  'extra': {'ebikes': 0, 'number': 9870, 'online': True, 'uid': 121},
  'free_bikes': 3,
  'id': '484b84f4d0b6613dd2c238d0e9299d16',
  'latitude': 23.274505,
  'longitude': 77.460654,
  'name': 'MOGLI PARK MINAAL',
  'timestamp': '2024-04-17T00:16:33.621000Z'},
 {'empty_slots': 0,
  'extra': {'ebikes': 0, 'number': 9874, 'online': True, 'uid': 125},
  'free_bikes': 6,
  'id': 'd3e108ba4fd1228c3e99528fe66173b0',
  'latitude': 23.25004,
  'longitude': 77.467072,
  'name': 'BEEMA HOSPITAL SECTOR C',
  'timestamp': '2024-04-17T00:16:33.629000Z'},
 {'empty_slots': 3,
  'extra': {'ebikes': 0, 'number': 9824, 'online': True, 'uid': 76},
  'free_bikes': 7,
  'id': 'cb4b32b07a47f4c1ba54e80d2c324156',
  'latitude': 23.24165,
  'longitude': 77.374374,
  'name': 'VAN VIHAR GATE NO. 1',
  'timestamp': '2024-04-17T00:16:33.607000Z'},
 {'empty_slots': 8,
  'extra': {'ebikes': 0, 'number': 9822, 'online': True, 'uid': 74},
  'free_bikes': 2,
  'id': '4d41afc86e8032eac39be5b983a8d0b1',
  'latitude': 23.242482,
  'longitude': 77.381173,
  'name': 'BOAT CLUB 2',
  'timestamp': '2024-04-17T00:16:33.626000Z'},
 {'empty_slots': 0,
  'extra': {'ebikes': 0, 'number': 9821, 'online': True, 'uid': 73},
  'free_bikes': 11,
  'id': '0d355d98a3df97a921255dcc6962865b',
  'latitude': 23.244284,
  'longitude': 77.387085,
  'name': 'BOAT CLUB 1',
  'timestamp': '2024-04-17T00:16:33.647000Z'},
 {'empty_slots': 6,
  'extra': {'ebikes': 0, 'number': 9837, 'online': True, 'uid': 89},
  'free_bikes': 0,
  'id': '3c09b223b64789641c257e8856dc4a3c',
  'latitude': 23.178594,
  'longitude': 77.458004,
  'name': 'HOSHANGABAAD ROAD 6',
  'timestamp': '2024-04-17T00:16:33.637000Z'},
 {'empty_slots': 2,
  'extra': {'ebikes': 0, 'number': 9803, 'online': True, 'uid': 57},
  'free_bikes': 8,
  'id': '3fade2587dd5a43322deb4a5aa00ff1c',
  'latitude': 23.192864,
  'longitude': 77.450197,
  'name': 'HOSHANGABAAD ROAD 3',
  'timestamp': '2024-04-17T00:16:33.606000Z'},
 {'empty_slots': 0,
  'extra': {'ebikes': 0, 'number': 9836, 'online': True, 'uid': 88},
  'free_bikes': 6,
  'id': 'f0044ca74a66d13f30856f95f1ba0aab',
  'latitude': 23.217316,
  'longitude': 77.430646,
  'name': 'BITTAN SQUARE',
  'timestamp': '2024-04-17T00:16:33.638000Z'},
 {'empty_slots': 4,
  'extra': {'ebikes': 0, 'number': 9853, 'online': True, 'uid': 104},
  'free_bikes': 0,
  'id': 'ae4d1173ed5919ff1f15d9b3416c3d40',
  'latitude': 23.217937,
  'longitude': 77.450672,
  'name': 'SHAKTI NAGAR MARKET',
  'timestamp': '2024-04-17T00:16:33.639000Z'},
 {'empty_slots': 0,
  'extra': {'ebikes': 0, 'number': 9835, 'online': True, 'uid': 87},
  'free_bikes': 7,
  'id': '985449fb6466880cbb3935ee0f9656cb',
  'latitude': 23.2146,
  'longitude': 77.435593,
  'name': '10 NO. MARKET, BMC PARKING',
  'timestamp': '2024-04-17T00:16:33.642000Z'},
 {'empty_slots': 1,
  'extra': {'ebikes': 0, 'number': 9834, 'online': True, 'uid': 86},
  'free_bikes': 5,
  'id': '664e0abf6ac6ea2344500b492e6b965b',
  'latitude': 23.2101,
  'longitude': 77.431089,
  'name': '1100 QUATERES',
  'timestamp': '2024-04-17T00:16:33.642000Z'},
 {'empty_slots': 1,
  'extra': {'ebikes': 0, 'number': 9854, 'online': True, 'uid': 105},
  'free_bikes': 5,
  'id': 'a0ed96cb3ce1ccebaa466edab5ef8565',
  'latitude': 23.21643,
  'longitude': 77.452377,
  'name': 'DRM ROAD 1',
  'timestamp': '2024-04-17T00:16:33.640000Z'},
 {'empty_slots': 2,
  'extra': {'ebikes': 0, 'number': 9856, 'online': True, 'uid': 107},
  'free_bikes': 4,
  'id': '2bace8134fff70d7948a138767fb0428',
  'latitude': 23.217155,
  'longitude': 77.463034,
  'name': 'BDA COMPLEX ',
  'timestamp': '2024-04-17T00:16:33.645000Z'},
 {'empty_slots': 0,
  'extra': {'ebikes': 0, 'number': 9855, 'online': True, 'uid': 106},
  'free_bikes': 4,
  'id': '3695370c96469c3f49a7f17ad47bb0aa',
  'latitude': 23.218677,
  'longitude': 77.456526,
  'name': 'PANCHVATI MARKET',
  'timestamp': '2024-04-17T00:16:33.646000Z'},
 {'empty_slots': 2,
  'extra': {'ebikes': 0, 'number': 9825, 'online': True, 'uid': 77},
  'free_bikes': 4,
  'id': '9cdbe2a85d8eed4fcc3f63520869a58e',
  'latitude': 23.226139,
  'longitude': 77.386867,
  'name': 'DEPOT SQUARE',
  'timestamp': '2024-04-17T00:16:33.643000Z'},
 {'empty_slots': 2,
  'extra': {'ebikes': 0, 'number': 9846, 'online': True, 'uid': 98},
  'free_bikes': 4,
  'id': '4cfedc01ab91a6150714bb9aa6c20e6d',
  'latitude': 23.243731,
  'longitude': 77.4104,
  'name': 'POLICE CONTROL ROOM',
  'timestamp': '2024-04-17T00:16:33.653000Z'},
 {'empty_slots': 1,
  'extra': {'ebikes': 0, 'number': 9845, 'online': True, 'uid': 97},
  'free_bikes': 5,
  'id': '8b1ecf2eba99bc6b9c854caa31ba5067',
  'latitude': 23.212206,
  'longitude': 77.437242,
  'name': '10.5 NO.',
  'timestamp': '2024-04-17T00:16:33.647000Z'},
 {'empty_slots': 2,
  'extra': {'ebikes': 0, 'number': 9801, 'online': True, 'uid': 55},
  'free_bikes': 8,
  'id': 'dd5845c02e5e9cb700fcc70cb944b115',
  'latitude': 23.203445,
  'longitude': 77.446469,
  'name': 'HOSHANGABAAD ROAD 1',
  'timestamp': '2024-04-17T00:16:33.654000Z'},
 {'empty_slots': 4,
  'extra': {'ebikes': 0, 'number': 9807, 'online': True, 'uid': 62},
  'free_bikes': 2,
  'id': '5c197a3a67828471aea3b1d9605a2309',
  'latitude': 23.233658,
  'longitude': 77.434393,
  'name': 'RM MARG 1',
  'timestamp': '2024-04-17T00:16:33.655000Z'},
 {'empty_slots': 1,
  'extra': {'ebikes': 0, 'number': 9829, 'online': True, 'uid': 81},
  'free_bikes': 5,
  'id': '14ed5c206755518fd7c340db942f39f5',
  'latitude': 23.216004,
  'longitude': 77.395599,
  'name': 'KAMLA NAGAR THANA',
  'timestamp': '2024-04-17T00:16:33.660000Z'},
 {'empty_slots': 2,
  'extra': {'ebikes': 0, 'number': 9816, 'online': True, 'uid': 68},
  'free_bikes': 4,
  'id': 'fe3b8f18c4c54c5b4538da60b2d9f616',
  'latitude': 23.22866,
  'longitude': 77.415382,
  'name': 'TULSI NAGAR',
  'timestamp': '2024-04-17T00:16:33.663000Z'},
 {'empty_slots': 6,
  'extra': {'ebikes': 0, 'number': 9817, 'online': True, 'uid': 69},
  'free_bikes': 4,
  'id': '52160696e52399f26aee0e76577b0f4a',
  'latitude': 23.231905,
  'longitude': 77.411919,
  'name': 'MAYUR PARK LINK ROAD NO. 1',
  'timestamp': '2024-04-17T00:16:33.658000Z'},
 {'empty_slots': 3,
  'extra': {'ebikes': 0, 'number': 9813, 'online': True, 'uid': 66},
  'free_bikes': 3,
  'id': 'd95902020acc4b3b87322340da878882',
  'latitude': 23.22874,
  'longitude': 77.428269,
  'name': '6 NO. MARKET',
  'timestamp': '2024-04-17T00:16:33.661000Z'},
 {'empty_slots': 3,
  'extra': {'ebikes': 0, 'number': 9820, 'online': True, 'uid': 72},
  'free_bikes': 3,
  'id': '810ed5606d0a76dfca389e97629028f0',
  'latitude': 23.243884,
  'longitude': 77.397579,
  'name': 'POLYTECHNIC SQUARE',
  'timestamp': '2024-04-17T00:16:33.659000Z'},
 {'empty_slots': 1,
  'extra': {'ebikes': 0, 'number': 9828, 'online': True, 'uid': 80},
  'free_bikes': 5,
  'id': '0fdca81fc82ffaff8355c0babe4f4ad6',
  'latitude': 23.220998,
  'longitude': 77.403485,
  'name': 'MANIT SQUARE',
  'timestamp': '2024-04-17T00:16:33.656000Z'},
 {'empty_slots': 3,
  'extra': {'ebikes': -1, 'number': 9819, 'online': True, 'uid': 71},
  'free_bikes': 0,
  'id': 'f1bddd8117647c5aa5aeedbf6c6d3c4b',
  'latitude': 23.237019,
  'longitude': 77.40025,
  'name': 'ROSHANPURA SQUARE',
  'timestamp': '2024-04-17T00:16:33.692000Z'},
 {'empty_slots': 6,
  'extra': {'ebikes': 0, 'number': 9831, 'online': True, 'uid': 83},
  'free_bikes': 0,
  'id': '1dbe162b10748466d2df5bf0a546dc22',
  'latitude': 23.217803,
  'longitude': 77.419776,
  'name': 'EKANT PARK',
  'timestamp': '2024-04-17T00:16:33.693000Z'},
 {'empty_slots': 3,
  'extra': {'ebikes': 0, 'number': 9814, 'online': True, 'uid': 67},
  'free_bikes': 3,
  'id': '57384fa269b7e58f8dc2c78a9ac27094',
  'latitude': 23.225072,
  'longitude': 77.42874,
  'name': 'NUTAN COLLEGE',
  'timestamp': '2024-04-17T00:16:33.663000Z'},
 {'empty_slots': 1,
  'extra': {'ebikes': 0, 'number': 9832, 'online': True, 'uid': 84},
  'free_bikes': 5,
  'id': 'f7ff67ee78f014ce547c5de411b1177b',
  'latitude': 23.215321,
  'longitude': 77.426918,
  'name': 'RAJIV GANDHI CHOWK',
  'timestamp': '2024-04-17T00:16:33.689000Z'},
 {'empty_slots': 1,
  'extra': {'ebikes': 0, 'number': 9833, 'online': True, 'uid': 85},
  'free_bikes': 5,
  'id': '4359ff4048ca2d24336b025f89d57d73',
  'latitude': 23.202557,
  'longitude': 77.425174,
  'name': 'SHAHPURA LAKE',
  'timestamp': '2024-04-17T00:16:33.662000Z'},
 {'empty_slots': 0,
  'extra': {'ebikes': 0, 'number': 9826, 'online': True, 'uid': 78},
  'free_bikes': 6,
  'id': 'bbf4674f9e718e3118bae2a7daaf4a71',
  'latitude': 23.226349,
  'longitude': 77.392242,
  'name': 'PandT SQUARE',
  'timestamp': '2024-04-17T00:16:33.657000Z'},
 {'empty_slots': 1,
  'extra': {'ebikes': 0, 'number': 9859, 'online': True, 'uid': 110},
  'free_bikes': 3,
  'id': 'd342da57ea20cb48b0fd641fcf95a0e9',
  'latitude': 23.211206,
  'longitude': 77.441297,
  'name': 'SHALIMAR ENCLAVE',
  'timestamp': '2024-04-17T00:16:33.698000Z'},
 {'empty_slots': 6,
  'extra': {'ebikes': 0, 'number': 9805, 'online': True, 'uid': 59},
  'free_bikes': 0,
  'id': 'e0ae0ac8b1f8409db93ebeba565fa4c2',
  'latitude': 23.182398,
  'longitude': 77.455573,
  'name': 'HOSHANGABAAD ROAD 5',
  'timestamp': '2024-04-17T00:16:33.709000Z'},
 {'empty_slots': 4,
  'extra': {'ebikes': 0, 'number': 9840, 'online': True, 'uid': 92},
  'free_bikes': 2,
  'id': '7a61ae2a318292a554f71ee55fce7d4d',
  'latitude': 23.164564,
  'longitude': 77.467552,
  'name': 'HOSHANGABAAD ROAD 7',
  'timestamp': '2024-04-17T00:16:33.696000Z'},
 {'empty_slots': 0,
  'extra': {'ebikes': 0, 'number': 9806, 'online': True, 'uid': 60},
  'free_bikes': 10,
  'id': '6dc074a8b58a4b4f3771d1f77d318f21',
  'latitude': 23.229068,
  'longitude': 77.442164,
  'name': 'ISBT',
  'timestamp': '2024-04-17T00:16:33.710000Z'},
 {'empty_slots': 2,
  'extra': {'ebikes': 0, 'number': 9860, 'online': True, 'uid': 111},
  'free_bikes': 2,
  'id': 'fae2e8d207b4146e3eed65b5e509fb53',
  'latitude': 23.206999,
  'longitude': 77.434549,
  'name': 'ASHOKA SOCIETY E7',
  'timestamp': '2024-04-17T00:16:33.702000Z'},
 {'empty_slots': 1,
  'extra': {'ebikes': 0, 'number': 9850, 'online': True, 'uid': 101},
  'free_bikes': 5,
  'id': 'c091da46961b121af08e92b88f75ce7c',
  'latitude': 23.24,
  'longitude': 77.435868,
  'name': 'RACHNA NAGAR',
  'timestamp': '2024-04-17T00:16:33.706000Z'},
 {'empty_slots': 4,
  'extra': {'ebikes': 0, 'number': 9808, 'online': True, 'uid': 61},
  'free_bikes': 2,
  'id': '37ec2dd142730066a35f2f3048f0312d',
  'latitude': 23.236955,
  'longitude': 77.433214,
  'name': 'RM MARG 2',
  'timestamp': '2024-04-17T00:16:33.699000Z'},
 {'empty_slots': 4,
  'extra': {'ebikes': 0, 'number': 9843, 'online': True, 'uid': 95},
  'free_bikes': 2,
  'id': 'b659a44c268d7fe9a738d04b6ae0a4c8',
  'latitude': 23.183357,
  'longitude': 77.454548,
  'name': 'HOSHANGABAAD ROAD 9',
  'timestamp': '2024-04-17T00:16:33.703000Z'},
 {'empty_slots': 0,
  'extra': {'ebikes': 0, 'number': 9858, 'online': True, 'uid': 109},
  'free_bikes': 4,
  'id': 'e2b71806569aded653318bef6aa7a98f',
  'latitude': 23.210729,
  'longitude': 77.452595,
  'name': 'SAKET NAGAR AIIMS ROAD 1',
  'timestamp': '2024-04-17T00:16:33.705000Z'},
 {'empty_slots': 3,
  'extra': {'ebikes': 0, 'number': 9861, 'online': True, 'uid': 112},
  'free_bikes': 3,
  'id': '8e72027d4d6a1a5daf0903042107a974',
  'latitude': 23.200578,
  'longitude': 77.434629,
  'name': 'BASANT KUNJ E8 ARERA COLONY',
  'timestamp': '2024-04-17T00:16:33.700000Z'},
 {'empty_slots': 1,
  'extra': {'ebikes': 0, 'number': 9864, 'online': True, 'uid': 115},
  'free_bikes': 5,
  'id': 'e3e3292dc66bb87ec1413832032fcdde',
  'latitude': 23.188674,
  'longitude': 77.4338,
  'name': 'AURA MALL',
  'timestamp': '2024-04-17T00:16:33.718000Z'},
 {'empty_slots': 4,
  'extra': {'ebikes': 0, 'number': 9886, 'online': True, 'uid': 199},
  'free_bikes': 6,
  'id': 'e700a25ce21f64282f96d6d1b0042c57',
  'latitude': 23.259188,
  'longitude': 77.38237,
  'name': 'VIP ROAD (KARBALA) ',
  'timestamp': '2024-04-17T00:16:33.713000Z'},
 {'empty_slots': 0,
  'extra': {'ebikes': 0, 'number': 9865, 'online': True, 'uid': 116},
  'free_bikes': 6,
  'id': 'b9cb024c07cbf622bc4e00812710cd07',
  'latitude': 23.187905,
  'longitude': 77.43635,
  'name': 'SOUTH AVENUE',
  'timestamp': '2024-04-17T00:16:33.717000Z'},
 {'empty_slots': 0,
  'extra': {'ebikes': 0, 'number': 9884, 'online': True, 'uid': 197},
  'free_bikes': 11,
  'id': '5d4ebcbe22e77520d054c3915ddefb3f',
  'latitude': 23.25491,
  'longitude': 77.397813,
  'name': 'GAUHAR MAHAL ',
  'timestamp': '2024-04-17T00:16:33.715000Z'},
 {'empty_slots': 1,
  'extra': {'ebikes': 0, 'number': 9887, 'online': True, 'uid': 200},
  'free_bikes': 5,
  'id': '5faa14a47e9dd3342c8e79e2a9616540',
  'latitude': 23.272521,
  'longitude': 77.369707,
  'name': 'LALGHATI SQUARE (VIP ROAD)',
  'timestamp': '2024-04-17T00:16:33.712000Z'},
 {'empty_slots': 1,
  'extra': {'ebikes': 0, 'number': 9893, 'online': True, 'uid': 206},
  'free_bikes': 5,
  'id': 'a748becdae11d07955159552c1ea94ef',
  'latitude': 23.210242,
  'longitude': 77.456433,
  'name': 'AIIMS 1 (Trauma Center)',
  'timestamp': '2024-04-17T00:16:33.726000Z'},
 {'empty_slots': 0,
  'extra': {'ebikes': 1, 'number': 9888, 'online': True, 'uid': 201},
  'free_bikes': 3,
  'id': '563920e0864a4a55f45eca208a23ed46',
  'latitude': 23.272229,
  'longitude': 77.341134,
  'name': 'BAIRAGARH POLICE STATION',
  'timestamp': '2024-04-17T00:16:33.725000Z'},
 {'empty_slots': 0,
  'extra': {'ebikes': 0, 'number': 9889, 'online': True, 'uid': 202},
  'free_bikes': 6,
  'id': '2f6a6543d66b6f9db9861eed898e856f',
  'latitude': 23.286264,
  'longitude': 77.354467,
  'name': 'ADITYA AVENUE ',
  'timestamp': '2024-04-17T00:16:33.724000Z'},
 {'empty_slots': 1,
  'extra': {'ebikes': 0, 'number': 9894, 'online': True, 'uid': 207},
  'free_bikes': 5,
  'id': '2402e44d882d0c75e247265430587341',
  'latitude': 23.205616,
  'longitude': 77.460985,
  'name': 'AIIMS 2 (NURSING HOTEL)',
  'timestamp': '2024-04-17T00:16:33.728000Z'},
 {'empty_slots': 1,
  'extra': {'ebikes': 0, 'number': 9827, 'online': True, 'uid': 79},
  'free_bikes': 9,
  'id': '1963bb2716298c99b134c17283d62834',
  'latitude': 23.216699,
  'longitude': 77.376212,
  'name': 'SAIR SAPATA',
  'timestamp': '2024-04-17T00:16:33.729000Z'},
 {'empty_slots': 2,

Put your parsed results into a DataFrame.

First, to better understand the structure of the dataframe that will be created, I will use a singular entry to confirm the column names of the dataframe

In [11]:
stations['network']['stations'][5]

{'empty_slots': 0,
 'extra': {'ebikes': 0, 'number': 9873, 'online': True, 'uid': 124},
 'free_bikes': 6,
 'id': '0dbfb7907fd0bb62822f16e53057697f',
 'latitude': 23.251645,
 'longitude': 77.456501,
 'name': 'J.K SQUARE ',
 'timestamp': '2024-04-17T00:16:33.625000Z'}

In [12]:
stations_list = []  #an empty list for stations
for station in stations['network']['stations']: #a for loop to iterate through the json file
   stations_data = {
    'station_id': station['id'],
    'station_name': station['name'],
    'latitude': station['latitude'],
    'longitude': station['longitude'],
    'empty_slots': station['empty_slots'],
    'free_bikes': station['free_bikes'],
    'e_bikes': station['extra']['ebikes'],
    'timestamp': station['timestamp'],
    'station_uid': station['extra']['uid'],
    'station_number': station['extra']['number'],
    'station_online_status': station['extra']['online']
   }
   stations_list.append(stations_data) #appending the data to the empty list

#Dataframe
stations_df = pd.DataFrame(stations_list)   #converting the list to a dataframe

In [13]:
stations_df.head()

,station_id,station_name,latitude,longitude,empty_slots,free_bikes,e_bikes,timestamp,station_uid,station_number,station_online_status
0,b371ef2499d92f6f39aecd14aa834f73,NANDAN KANAN PARK,23.222624,77.424051,2,4,0,2024-04-17T00:16:33.608000Z,122,9871,True
1,9ca6adc741b5a7e4e2914913ba967604,FOUNTAIN PARK MINAAL,23.275564,77.454774,3,3,0,2024-04-17T00:16:33.607000Z,119,9868,True
2,154a47ad488f8c67ea69615613277002,AVADHPURI TIRAHA,23.230224,77.485648,1,5,0,2024-04-17T00:16:33.616000Z,131,9880,True
3,36761a60c92613a6e5f7abc3e89e3b8c,AKRITI BLUE SKY,23.167347,77.438082,5,3,0,2024-04-17T00:16:33.609000Z,117,9866,True
4,e2a4ce935da75f9eb2d0730033ddc5bb,VARDHMAAN PARK,23.249605,77.395605,0,0,1,2024-04-17T00:16:33.612000Z,75,9823,True

In [14]:
stations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   station_id             74 non-null     object
 1   station_name           74 non-null     object
 2   latitude               74 non-null     float64
 3   longitude              74 non-null     float64
 4   empty_slots            74 non-null     int64
 5   free_bikes             74 non-null     int64
 6   e_bikes                74 non-null     int64
 7   timestamp              74 non-null     object
 8   station_uid            74 non-null     int64
 9   station_number         74 non-null     int64
 10  station_online_status  74 non-null     bool
dtypes: bool(1), float64(2), int64(5), object(3)
memory usage: 6.0+ KB

In [15]:
stations_df['timestamp'] = pd.to_datetime(stations_df['timestamp']) #converting the timestamp to a datetime object
stations_df['timestamp']

0    2024-04-17 00:16:33.608000+00:00
1    2024-04-17 00:16:33.607000+00:00
2    2024-04-17 00:16:33.616000+00:00
3    2024-04-17 00:16:33.609000+00:00
4    2024-04-17 00:16:33.612000+00:00
                   ...
69   2024-04-17 00:16:33.728000+00:00
70   2024-04-17 00:16:33.729000+00:00
71   2024-04-17 00:16:33.729000+00:00
72   2024-04-17 00:16:33.727000+00:00
73   2024-04-17 00:16:33.641000+00:00
Name: timestamp, Length: 74, dtype: datetime64[ns, UTC]

In [16]:
stations_df.describe()

,latitude,longitude,empty_slots,free_bikes,e_bikes,station_uid,station_number
count,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000
mean,23.224140,77.424794,9.432432,4.324324,0.040541,119.162162,9846.905405
std,0.025375,0.031126,58.484299,3.515555,0.348743,75.795512,46.848684
min,23.164564,77.341134,0.000000,0.000000,-1.000000,55.000000,9703.000000
25%,23.210364,77.400497,1.000000,2.250000,0.000000,76.250000,9822.250000
50%,23.225606,77.432152,2.000000,4.000000,0.000000,99.500000,9845.500000
75%,23.239360,77.452415,4.000000,5.750000,0.000000,120.750000,9868.750000
max,23.286264,77.485648,505.000000,25.000000,2.000000,420.000000,10054.000000

In [17]:
stations_df['station_online_status'].value_counts()

station_online_status
True    74
Name: count, dtype: int64

In [18]:
#Check if all stations IDs are unique
stations_df['station_id'].nunique()

74

In [19]:
stations_df.to_csv('bhopal_bike_stations.csv', index=False) #saving the dataframe to a csv file